{% extends 'base.html.twig' %}

{% block title %}Liste des Formations{% endblock %}

{% block body %}

<div class="info-head">
<a class="nav-link" href="{{path('ajouter_formation')}}"> Ajouter une formation</a><br>

<p>Il y a {{ formations | length }} formations</p>
</div>
<div class="box-tab">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nom</th>
         <th scope="col">Modifier</th>
      </tr>
    </thead>
    <tbody>
          {% for formation in formations %}
          <tr>
              <td><a href="{{ path('detail_formation', {'id': formation.id}) }}">{{ formation.nomFormation}}</a></td>
              <td><a href="{{ path('maj_formation', { 'id' : formation.id }) }}"><i class="fa-solid fa-pen"></i></a></td>

          </tr>
          {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
