<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/3f1f47ed70.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}

  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">FORMATION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_stagiaire')}}">Stagiaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_formation')}}">Formation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_formateur')}}">Formateur</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{path('app_categorie')}}">Categorie</a>
        </li>
                        <li class="nav-item">
          <a class="nav-link" href="{{path('app_cours')}}">Cours</a>
        </li>
                                <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
        </li>
                                        <li class="nav-item">
          <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
        </li>
    </div>
  </nav>
  {% block body %}{% endblock %}
</body>
</html>